<!DOCTYPE html>
<html lang="ru-RU" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Алёна - рекрутинговое агентство</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <div class="wrapper">
      <div class="header-top">
        <div class="header-row clearfix">
          <div class="logo">
            <a href="/"><img src="img/logo-alena.png" width="210" height="72" alt="Алёна - рекрутинговое агентство"></a>
          </div>
          <div class="features">
            Профессиональный подбор персонала
          </div>
          <div class="contacts">
            <a href="tel:+380661234567">+38 (066) <span>123-45-67</span></a>
            <br>
            <a href="tel:+380671234567">+38 (067) <span>123-45-67</span></a>
          </div>
        </div>
        <nav class="navigation">
          <ul class="clearfix">
            <li class="active">
              <a href="#" disbaled><span>Главная</span></a>
            </li>
            <li>
              <a href="#"><span>О нас</span></a>
            </li>
            <li>
              <a href="#"><span>Клиентам</span></a>
            </li>
            <li>
              <a href="#"><span>Галерея</span></a>
            </li>
            <li>
              <a href="#"><span>Контакты</span></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-photo">
        <img src="img/header-photo.jpg" width="1096" height="510" alt="">
      </div>
    </div>
  </header>
  <main>
    <div class="wrapper">
      <div class="columns clearfix">
        <div class="column">
          <div class="header">
            <img src="img/content-photo1.jpg" width="256" height="129" alt="">
            <p>Наши услуги</p>
          </div>
          <ul>
            <li>executive search (подбор управленцев высшего звена);</li>
            <li>подбор специалистов среднего звена;</li>
            <li>подбор узкопрофильных специалистов;</li>
            <li>региональный поиск;</li>
            <li>мониторинг рынка труда;</li>
            <li>оценка персонала;</li>
            <li>организация тренингов для предприятий;</li>
            <li>организация и ведение деятельности Херсонского HR-клуба.</li>
          </ul>
        </div>
        <div class="column">
          <div class="header">
            <img src="img/content-photo2.jpg" width="256" height="129" alt="">
            <p>Наши цели</p>
          </div>
          <ul>
            <li>Подобрать персонал, который максимально соответствует требованиям работодателя, подходит для организации с учетом ее корпоративной культуры и стиля управления.</li>
            <li>Cодействовать успеху Вашего бизнеса путем формирования и развития команды, предложения эффективного и высококвалифицированного персонала.</li>
            <li>Стать Вашим надежным партнером и качественно выполнять свою работу!</li>
          </ul>
        </div>
        <div class="column">
          <div class="header">
            <img src="img/content-photo3.jpg" width="256" height="129" alt="">
            <p>Наши принципы</p>
          </div>
          <ul>
            <li>мы любим нашу работу и профессионально относимся к ней;</li>
            <li>всегда стремимся к успешному результату;</li>
            <li>стараемся эффективно управлять временем;</li>
            <li>мы готовы брать на себя здоровую ответственность при обеспечении качества работы.</li>
          </ul>
        </div>
      </div>
      <div class="welcome clearfix">
        <div class="left-column">
          <div class="header">
            <img src="img/alena-rumega.jpg" width="256" height="210" alt="">
            <p>Основатель агентства –
              <br><b>Алена Румега</b></p>
          </div>
          <div class="title">
            сертифицированный специалист в области подбора и оценки персонала.
          </div>
        </div>
        <div class="right-column">
          <h2>Рады приветствовать вас на нашем сайте!</h2>
          <p>Рекрутинговое агентство "АЛЕНА" работает с 2006 года, является ведущим агентством г.Херсона.</p>
          <p>Специализируемся на поиске и подборе персонала высшего, среднего звена и узкопрофильных специалистов. Для достижения поставленных задач по подбору персонала мы обладаем всеми необходимыми ресурсами. Прежде всего это опытные специалисты, наработанные методики и технологии работы.</p>
          <p>При выполнении проектов мы ориентируемся на интересы Работодателя. В деятельности нашего агентства реализуем все пожелания Заказчика, используя свои возможности для профессионального подбора персонала, помогаем сокращать финансовые и временные затраты Клиента.</p>
          <p>На наш взгляд, Мудрость – это соединение Ума и Сердца. Баланс между холодным умом и добрым сердцем, между профессиональными и личностными качествами приводит человека к успеху, и, как следствие, приводит к успеху организацию.</p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="gradient-top">
      <div class="wrapper-footer contacts clearfix">
        <div class="address">Наш адрес: ул. 9 Января, 15, оф.207/1
        </div>
        <div class="email">е-mail: <a href="mailto:mail@gmail.com">mail@gmail.com</a>
        </div>
        <div class="social">
          мы в социальных сетях:
          <a class="soc f" href="#">Facebook</a>
          <a class="soc ok" href="#">Одноклассники</a>
          <a class="soc vk" href="#">Вконтакте</a>
        </div>
      </div>
    </div>
    <div class="gradient-bottom">
      <div class="wrapper-footer about clearfix">
        <div class="copyright">© 2016 example.com Рекрутинговое агентство
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
