<!DOCTYPE html>
<html lang="ru-RU" dir="ltr" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Novaboard</title>
  <meta name="description" lang="ru-ru" content="">
  <meta name="keywords" lang="ru-ru" content="">
  <meta name="keywords" lang="en-us" content="">
  <meta name="author" lang="ru-ru" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">

  <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="favicons/manifest.json">
  <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#2d56e5">
  <meta name="msapplication-TileColor" content="#1f6ad8">
  <meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="browserconfig.xml">
  <meta name="theme-color" content="#3b67ce">

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="fonts/fonts.css">
  <link rel="stylesheet" href="css/magnific-popup.min.css">
  <link rel="stylesheet" href="css/style.css">

  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script src="js/jquery-1.12.2.min.js"></script>
  <script src="js/magnific-popup.min.js"></script>
  <script src="js/jquery.carouFredSel-6.2.0.min.js"></script>
  <script src="js/init.js"></script>
</head>

<body>
  <header>
    <div class="site-size-min">
      <ul class="main-navigation">
        <li class="active">Главная</li>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Вакансии</a></li>
        <li><a href="#">Продукция</a></li>
        <li><a href="#">Фотогалерея</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Статьи</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div> <!-- .site_size -->
  </header>
  <div class="screen1">
    <div class="site-size-min">
      <div class="clearfix">
        <img class="logo" src="img/logo.png" width="396" alt="Novaboard">
        <div class="contacts">
          <a class="contacts-login popup-with-form" href="#login-block">Вход</a>
          <div class="contacts-social">
            Мы в социальных сетях
            <a href="#" class="contacts-social-in" title="LinkedIn" target="_blank">LinkedIn</a>
            <a href="#" class="contacts-social-vk" title="Вконтакте" target="_blank">Вконтакте</a>
          </div>
          <div class="contacts-tel">
            <div class="nowrap">тел:<a href="tel:+380552314410">+38(0552)314-410</a>, <a href="tel:+380552314403">314-403</a>; факс:+38(0552)359-214</div>
            e-mail:<a href="mailto:info@penoboard.com">info@penoboard.com</a>
          </div>
          <form class="form-search" action="#" name="form-search">
            <input type="search" name="search-field" class="search-field">
            <input type="submit" name="search-button" class="search-button" title="Поиск" value="">
          </form>
        </div> <!-- .contacts -->
      </div> <!-- .clearfix -->
      <div class="slider">
        <div id="slides">
          <div class="slide slide1">
            <a href="#1" class="slide-content">
              <div class="slide-title">
                Cегодня инновация -
                <br>завтра необходимость
              </div>
              <div class="slide-text">
                Энергосбережение нового поколения (1)
              </div>
            </a>
          </div>
          <div class="slide slide2">
            <a href="#1" class="slide-content">
              <div class="slide-title">
                Cегодня инновация -
                <br>завтра необходимость
              </div>
              <div class="slide-text">
                Слайд = 2
              </div>
            </a>
          </div>
          <div class="slide slide3">
            <a href="#1" class="slide-content">
              <div class="slide-title">
                Cегодня инновация -
                <br>завтра необходимость
              </div>
              <div class="slide-text">
                Это слайд = 3
              </div>
            </a>
          </div>
          <div class="slide slide4">
            <a href="#1" class="slide-content">
              <div class="slide-title">
                Cегодня инновация -
                <br>завтра необходимость
              </div>
              <div class="slide-text">
                Слайд = 4
              </div>
            </a>
          </div>
          <div class="slide slide5">
            <a href="#1" class="slide-content">
              <div class="slide-title">
                Cегодня инновация -
                <br>завтра необходимость
              </div>
              <div class="slide-text">
                Это слайд = 5
              </div>
            </a>
          </div>
        </div> <!-- #slides -->
        <div class="clearfix"></div>
        <a class="slider-prev" id="slider_prev" href="#"><span>prev</span></a>
        <a class="slider-next" id="slider_next" href="#"><span>next</span></a>
        <div class="slider-pag" id="slider_pag"></div>
      </div> <!-- .slider -->
    </div> <!-- .site-size-min -->
  </div> <!-- .screen1 -->
  <div class="screen2">
    <div class="site-size-min">
      <div class="screen-logo"><span>Nova<span>Board</span></span>
      </div>
      <h2 class="screen-title">Экструдированный пенополистирол</h2>
      <div class="screen2-video">
        <div class="youtube" id="bCDjHVhgDDQ" style="width: 565px; height: 318px" title="Посмотреть видео">
        </div>
      </div>
      <div class="screen2-content">
        <div class="text_block">
          <p>Многолетний опыт применения экструдированного пенополистирола в различных отраслях строительства доказывает высокую эффективность его использования. Наша компания производит экструдированный пенополистирол на высококачественном европейском оборудовании, соблюдая мировые стандарты качества. </p>
          <p>Торговая марка <strong>NOVABOARD</strong> много лет на украинском рынке и за это время мы не только вышли на лидирующие позиции, но и доказали, что NOVABOARD– это гарантия качества, проверенная временем. Наш бренд - это наша репутация. Мы завоевываем ее, легко справляясь с любыми задачами. Это понимают наши партнеры в процессе взаимодействия с нами.</p>
        </div>
      </div> <!-- .screen2-content -->
      <a class="screen2-button" href="#">Узнать подробнее</a>
    </div> <!-- .site-size-min -->
  </div> <!-- .screen2 -->
  <div class="screen3">
    <div class="site-size">
      <h2 class="screen-title">Сфера применения</h2>
      <div class="banner clearfix">
        <div class="banner-left">
          <div class="banner-title">Гражданское строительство</div>
          <ul class="banner-text">
            <li><span>Жилые дома</span></li>
            <li><span>Офисные здания</span></li>
            <li><span>Торгово - развлекательные комплексы</span></li>
          </ul>
          <div class="banner-company"><span>NOVABOARD</span></div>
        </div>
        <div class="banner-right">
          <div class="banner-title">Промышленное строительство</div>
          <ul class="banner-text">
            <li><span>Спортивные сооружения - ледовые арены</span></li>
            <li><span>Ангары и склады</span></li>
            <li><span>Заводы и фабрики</span></li>
          </ul>
          <div class="banner-company"><span>NOVABOARD</span></div>
        </div>
      </div> <!-- .scope -->
      <ul class="jobs">
        <li>Балконы и
          <br>лоджии</li>
        <li>Стены и
          <br>фасады</li>
        <li>Периметр дома
          <br>и цоколь</li>
        <li>Плоская и
          <br>скатная кровля</li>
        <li>Фундамент и
          <br>мостики холода</li>
        <li>Полы и
          <br>потолки</li>
      </ul>
    </div> <!-- .site-size -->
  </div> <!-- .screen3 -->
  <div class="screen4">
    <div class="site-size">
      <div class="site-size-min">
        <div class="screen-logo"><span>Nova<span>Board</span></span>
        </div>
        <h2 class="screen-title">Технические характеристики</h2>
        <div class="characteristics-wrapper">
          <table class="characteristics">
            <tr>
              <th>Технические характеристики</th>
              <th>НОРМАТИВ</th>
              <th>ПСБ - 20</th>
              <th>ПСБ - 30</th>
              <th>ПСБ - 40</th>
              <th>ПСБ - 50</th>
              <th>ПСБ - 60-120</th>
            </tr>
            <tr>
              <td>Плотность кг/м3</td>
              <td>ГОСТ 15588-86</td>
              <td>30-32</td>
              <td>30-32</td>
              <td>30-32</td>
              <td>30-32</td>
              <td>30-32</td>
            </tr>
            <tr>
              <td>Теплопроводность при 25°С (λ25) Вт/мК</td>
              <td>ГОСТ 7076-99</td>
              <td>0,03</td>
              <td>0,03</td>
              <td>0,03</td>
              <td>0,03</td>
              <td>0,03</td>
            </tr>
            <tr>
              <td>Теплопроводность (λA) Вт/мК</td>
              <td>ГОСТ 7076-99</td>
              <td>0,031</td>
              <td>0,031</td>
              <td>0,031</td>
              <td>0,031</td>
              <td>0,031</td>
            </tr>
            <tr>
              <td>Теплопроводность (λБ) Вт/мК</td>
              <td>ГОСТ 7076-99</td>
              <td>0,032</td>
              <td>0,032</td>
              <td>0,032</td>
              <td>0,032</td>
              <td>0,032</td>
            </tr>
            <tr>
              <td>Прочность на сжатие при 10% деформации, МПа</td>
              <td>ГОСТ 15588-86</td>
              <td>0,2</td>
              <td>0,25</td>
              <td>0,41</td>
              <td>0,5</td>
              <td>0,6</td>
            </tr>
            <tr>
              <td>Предел прочности при изгибе, МПа</td>
              <td>ГОСТ 15588-86</td>
              <td>0,25</td>
              <td>0,4</td>
              <td>0,4</td>
              <td>0,4 - 0,7</td>
              <td>0,4 - 0,7</td>
            </tr>
            <tr>
              <td>Модуль упругости, МПА</td>
              <td></td>
              <td>15</td>
              <td>15</td>
              <td>18</td>
              <td>18</td>
              <td>18</td>
            </tr>
            <tr>
              <td>Водопоглощение за 24 часа, % по объему</td>
              <td>ГОСТ 15588-86</td>
              <td>0,4</td>
              <td>0,4</td>
              <td>0,4</td>
              <td>0,4</td>
              <td>0,4</td>
            </tr>
            <tr>
              <td>Паропроницаемость (μ) мг/м·ч·Па</td>
              <td>ГОСТ 25898-83</td>
              <td>0,008</td>
              <td>0,007</td>
              <td>0,007</td>
              <td>0,007</td>
              <td>0,008</td>
            </tr>
            <tr>
              <td>Капилярное увлажнение</td>
              <td></td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Коэфициент линейного теплового расширения</td>
              <td></td>
              <td>7x10-5</td>
              <td>7x10-5</td>
              <td>7x10-5</td>
              <td>7x10-5</td>
              <td>7x10-5</td>
            </tr>
            <tr>
              <td>Пожарные характеристики</td>
              <td>ГОСТ 30244-94</td>
              <td>Г1</td>
              <td>Г1</td>
              <td>Г1</td>
              <td>Г1</td>
              <td>Г1</td>
            </tr>
            <tr>
              <td>Температура применения, °С</td>
              <td></td>
              <td>-50...+75</td>
              <td>-50...+75</td>
              <td>-50...+75</td>
              <td>-50...+75</td>
              <td>-50...+75</td>
            </tr>
          </table>
        </div> <!-- .characteristics-wrapper -->
      </div> <!-- .site-size-min -->
    </div> <!-- .site-size -->
  </div> <!-- .screen4 -->
  <div class="screen5">
    <div class="site-size">
      <h2 class="screen-title">Какие задачи решает?</h2>
      <table class="tasks">
        <tr>
          <td>Потери тепла</td>
          <td>Высокая теплоизоляция, эффективность в суровых погодных условиях.</td>
        </tr>
        <tr>
          <td>Проникновение шума</td>
          <td>Индекс снижения приведенного уровня ударного шума — 25 Дб.</td>
        </tr>
        <tr>
          <td>Грибок, сырость</td>
          <td>Гидроизоляционные свойства. Низкое влагопоглощение – 0,1%</td>
        </tr>
        <tr>
          <td>Выделение вредных веществ</td>
          <td>Благодаря радикальной полимеризации стирола PENOBOARD не токсичен, биологически нейтрален, отвечает высоким экологическим стандартам.</td>
        </tr>
        <tr>
          <td>Расточительность</td>
          <td>В масштабах государства – снижение энергоемкости производства и экономия традиционных ресурсов, в масштабах каждого отдельного дома – сбережение тепла и экологии помещений, снижение трат на отоплении.</td>
        </tr>
        <tr>
          <td>Пожароопасность</td>
          <td>Пожаробезопасность – Г1. PENOBOARD не поддерживает горение после прекращения контакта с открытым огнем.</td>
        </tr>
      </table>
    </div> <!-- .site-size -->
  </div> <!-- .screen5 -->
  <div class="screen6">
    <div class="site-size">
      <div class="screen-logo"><span>Nova<span>Board</span></span>
      </div>
      <h2 class="screen-title">Сертификаты качества и премии</h2>
      <div class="certificates popup-gallery">
        <a href="img/certificate1.jpg"><img src="img/certificate1-mini.jpg" width="144" alt="Сертификат качества"></a>
        <a href="img/certificate2.jpg"><img src="img/certificate2-mini.jpg" width="144" alt="Сертификат качества"></a>
        <a href="img/certificate3.jpg"><img src="img/certificate3-mini.jpg" width="144" alt="Сертификат качества"></a>
        <a href="img/certificate4.jpg"><img src="img/certificate4-mini.jpg" width="144" alt="Сертификат качества"></a>
        <a href="img/certificate5.jpg"><img src="img/certificate5-mini.jpg" width="144" alt="Сертификат качества"></a>
      </div>
      <div class="prize">Премия:
        <br>100 лучших товаров Украины 2010 и 2011
        <br>
        <a href="#"><img src="img/logo-konkurs-top100.png" width="111" alt="100 лучших товаров Украины"></a>
      </div>
    </div> <!-- .site-size -->
  </div> <!-- .screen6 -->
  <div class="screen7">
    <div class="site-size">
      <div class="contacts-bottom">
        <h2 class="contacts-bottom-title">Контакты</h2>
        <p>ООО «Производственно коммерческая фирма «Элит Пласт»
          <br>73000, Украина, г. Херсон, ул Советская, 41-А
        </p>
        <p class="contacts-bottom-tel">
          <br>тел:<a href="tel:+380552123456">+38(0552)123-456</a>, <a href="tel:+380552789403">789-403</a>; факс:+38(0552)123-214
          <br>e-mail:<a href="mailto:info@novaboard.com">info@novaboard.com</a>
        </p>
      </div>
    </div> <!-- .site-size -->
    <a class="map popup-gmaps" href="https://maps.google.com/maps?q=Херсон&iframe=true" title="Посмотреть карту"></a>
  </div> <!-- .screen7 -->
  <footer>
    <div class="company">
      <img src="img/logo-footer.png" width="335" alt="Novaboard">
      <br>2015 &copy;
      <br>мы в социальных сетях
      <br><a href="#" class="company-in" title="LinkedIn" target="_blank">LinkedIn</a><a href="#" class="company-vk" title="Вконтакте" target="_blank">Вконтакте</a>
    </div>
  </footer>
  <div class="login-block mfp-hide" id="login-block">
    <form class="clearfix" action="#" method="post" name="form-login">
      <div class="for-label">
        <input class="field-login" type="email" name="field-login" id="id-field-login" placeholder="Логин">
        <label for="id-field-login">Логин:</label>
      </div>
      <div class="for-label">
        <input class="field-password" type="password" name="field-password" id="id-field-password" placeholder="Пароль">
        <label for="id-field-password">Пароль:</label>
      </div>
      <button class="login-submit" type="submit" name="login-submit">Войти</button>
      <a class="login-a" href="#">Забыли пароль</a>
      <br><a class="login-a" href="#">Новая регистрация</a>
    </form>
  </div> <!-- .login-block -->
</body>

</html>
