@font-face {
  font-family: "Appetite";
  src: url("Appetite.woff2") format("woff2"),
       url("Appetite.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BlissPro";
  src: url("BlissProExtraLight.woff2") format("woff2"),
       url("BlissProExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "BlissPro";
  src: url("BlissProLight.woff2") format("woff2"),
       url("BlissProLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BlissPro";
  src: url("BlissProLightItalic.woff2") format("woff2"),
       url("BlissProLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "BlissPro";
  src: url("BlissProRegular.woff2") format("woff2"),
       url("BlissProRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BlissPro";
  src: url("BlissProMedium.woff2") format("woff2"),
       url("BlissProMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BlissPro";
  src: url("BlissProBold.woff2") format("woff2"),
       url("BlissProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BlissPro";
  src: url("BlissProBoldItalic.woff2") format("woff2"),
       url("BlissProBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "BlissPro";
  src: url("BlissProHeavy.woff2") format("woff2"),
       url("BlissProHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
